extends ../layout

block content
    include ../mixins/articleCard
    div.articles-header
        div.article-header-title Here's What's New
        div
            if user && user.is('author')
                a.button.primary(href = '/article/add') Write New Article

    ul.article-list
        each article in articles
            li
                +articleCard(article)