mixin comment(comment)
    div.comment
        div.comment-header
            div.comment-author= comment.author_name
            div.comment-time= comment.commented_on
        div.comment-body= comment.body